{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "fullscreen" .}}

{{define "title"}}{{ .Title }} - {{ .DisplayName }}{{end}}

{{define "slides"}}

	<div class="carousel-item active bg-slideshow text-slideshow">
		<div class="d-flex flex-column vw-100 vh-100 ">
			<h2 class="border-bottom display-4 mx-4 mt-4">{{ .DisplayName }}</h2>
			<h1 class="display-1 text-center my-auto p-4">{{ .Title }}</h1>
			<h2 class="display-4 mx-4 mb-4">&nbsp;</h2>
		</div>
	</div>

	{{range .Slides}}
		<div class="carousel-item bg-slideshow text-slideshow">
			<div class="d-flex flex-column vw-100 vh-100">

				{{ if eq .Format 0 }}
					<p>&nbsp;</p>
				{{ else if eq .Format 1 }}
					<h1 class="display-1 text-center my-auto p-4">{{ .Title }}</h1>
				{{ else if eq .Format 2 }}
					{{template "image" .Image}}
				{{ else if eq .Format 3 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "image" .Image}}
				{{ else if eq .Format 4 }}
					<h3 class="mx-5 my-auto">{{ .Caption }}</h3>
				{{ else if eq .Format 5 }}
					<div class="my-auto">
						<h3 class="display-3 mx-5">{{ .Title }}</h2>
						<h3 class="mx-5">{{ .Caption }}</h3>
					</div>
				{{ else if eq .Format 6 }}
					{{template "image" .Image}}
					<div class="h4 mb-4 mx-auto px-5">{{ .Caption }}</div>
				{{ else if eq .Format 7 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "image" .Image}}
					<div class="h4 mb-4 mx-auto px-5">{{ .Caption }}</div>
				{{ else if eq .Format 8 }}
					{{template "video" .Image}}
				{{ else if eq .Format 9 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "video" .Image}}
				{{ else if eq .Format 12 }}
					{{template "video" .Image}}
					<div class="h4 mb-4 mx-auto px-5">{{ .Caption }}</div>
				{{ else if eq .Format 13 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "video" .Image}}
					<div class="h4 mb-4 mx-auto px-5">{{ .Caption }}</div>
				{{ end }}

			</div>
		</div>
	{{end}}
{{end}}