{{/*
  Copyright © Rob Burke inchworks.com, 2021.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Competition Entry{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">

		<div class="d-flex">
			<h3>{{ .Category }}</h3>
			<div class="ml-3">{{ .Caption }}</div>
		</div>

		{{block "compIntro" .}}
		{{end}}

		<form action='/enter-comp' method='POST' enctype="multipart/form-data" >
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

 			{{with .Form}}
   	        	<input type='hidden' name='category' value='{{.Get "category"}}'>
   	        	<input type='hidden' name='timestamp' value='{{.Get "timestamp"}}'>

				<div class="form-group col-md-6">
					<label>Your name</label>
					<input type='text' class='form-control {{.Errors.Valid "name"}}' name='name' value='{{.Get "name"}}'>
					<small class="form-text text-muted">{{block "compName" .}}As you would like it to to appear to others.{{end}}</small>
					{{with .Errors.Get "name"}}
							<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>
				<div class="form-group col-md-6">
					<label for='usr'>Email address</label>
					<input type='email' class='form-control {{.Errors.Valid "email"}}' id='usr' name='email' autocomplete='email' value='{{.Get "email"}}'>
					<small class="form-text text-muted">{{block "compEmail" .}}Your email address.{{end}}</small>
					{{with .Errors.Get "email"}}
							<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>
				<div class="form-group col-md-6">
					<label>Location</label>
					<input type='text' class='form-control {{.Errors.Valid "location"}}' name='location' value='{{.Get "location"}}'>
					<small class="form-text text-muted">{{block "compLocation" .}}Your town or city, and country.{{end}}</small>
					{{with .Errors.Get "location"}}
							<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>

 				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<div style='display:none'>
								<input type='number' name='index' value='{{ .ChildIndex }}'>								
							</div>
							<div class="form-group col-md-6">
								<label>{{block "compTitleLabel" .}}Pet's name{{end}}</label>
								<input type='text' class='form-control {{.ChildValid "title"}}' name='title' value='{{ .Title }}'>
								<small class="form-text text-muted">{{block "compTitle" .}}A name for your entry.{{end}}</small>
								<div class='invalid-feedback'>{{ .ChildError "title"}}</div>
							</div>
							<div class="form-group col-md-10">
								<label>{{block "compCaptionLabel" .}}Other information{{end}}</label>
								<textarea name='caption' class='form-control {{.ChildValid "caption"}}'>{{ .Caption }}</textarea>
								<small class="form-text text-muted">{{block "compCaption" .}}A short description of your entry.{{end}}</small>
								<div class='invalid-feedback'>{{ .ChildError "caption"}}</div>
							</div>
							<div class="form-group col-md-6">
								<label>Photo or video</label>
								<div class="input-group-prepend">
									<span class='input-group-text'>{{.ImageName}}</span>
									<div class="custom-file">
										<input type='hidden' class="imageName" name='imageName' value='{{.ImageName}}'>
										<input type='file' accept='image/*, video/*' class='custom-file-input {{.ChildValid "image"}} {{.ChildValid "imageName"}}'>
										<label class='custom-file-label'><div class='invalid-feedback d-inline'>{{ .ChildError "imageName"}}</div>Choose photo...</label>
									</div>
								</div>
								<div class='invalid-feedback bad-file'></div>
								<small class="form-text text-muted">{{block "compPhoto" .}}A photo or short video, taken within the last three months.{{end}}</small>
							</div>
							<div class="form-group col-md-6 upload" style='display:none'>
								<div class="offset-md-2 col-md-5 progress">
									<div class="progress-bar" style="width:50%; height:100%"></div>
								</div>
								<div class='col-md-3 alert upload-status'>{{ .ChildError "image"}}</div>
							</div>
						</div>
					{{end}}
				</div>

				<div class="form-group col md-10">
					<label>Click to confirm ageement</label>
					<div class="form-check">
						<input type='checkbox' class='form-check-input {{.Errors.Valid "agree1"}}' id='agree1' name='agree1' value='checked' {{.Get "agree1"}}>
						<label class="form-check-label" for='agree1'>{{block "compAgreeContent" .}}This is my own work.{{end}}</label>
						{{with .Errors.Get "agree1"}}
								<div class='invalid-feedback'>{{.}}</div>
						{{end}}
					</div>
					<div class="form-check">
						<input type='checkbox' class='form-check-input {{.Errors.Valid "agree2"}}' id='agree2' name='agree2' value='checked' {{.Get "agree2"}}>
						<label class="form-check-label" for='agree2'>{{block "compAgreeRules" .}}I have read and agree to the rules of the competition.{{end}}</label>
						{{with .Errors.Get "agree2"}}
								<div class='invalid-feedback'>{{.}}</div>
						{{end}}
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-md-4	col-md-2">
						<button type='submit' class="btn btn-primary" id='submit'>Submit</button>
					</div>
				</div>
			{{end}}
		</form>

		{{block "compEnd" .}}
		{{end}}
	</div>
	
	<div class="container">
		<footer class="text-muted">
			{{block "compFooter" .}}
			{{end}}
		</footer>
	</div>
{{end}}

{{ define "pagescripts" }}
	<script type="text/javascript" src='/static/js/multiforms-02.js'></script>
	<script type="text/javascript" src='/static/js/upload-02.js'></script>
	<script>
		// page-specific processing

		function pageReady() {

			// Set name of the photo, and upload on select

			$(".custom-file-input").on("change", function() {
				uploadFile($(this), {{.CSRFToken}}, {{.MaxUpload}}, {{.Form.Get "timestamp"}}, $("#submit"));
			});
		}

		function childAdded($prototype, $newForm) {
		}

    </script>
{{end}}
