{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "highlights" .}}

{{define "highlightsStylesheets"}}
    {{template "bootstrapStylesheet" .}}
	{{template "lightboxStylesheet" .}}
    <link rel='stylesheet' href='/static/css/embedded-01.css'>
{{end}}

{{define "title"}}Highlights{{end}}

{{define "highlightsContent"}}

	<div class="photo-gallery">
		<div class="container lightbox2">
			<div class="row photos ">
			{{range .Slides}}
				{{ if eq .Format 2 }}
		            <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="/photos/{{ .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
				{{ else if eq .Format 3 }}
		            <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="/photos/{{ .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
				{{ else if eq .Format 6 }}
		            <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="/photos/{{ .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
				{{ else if eq .Format 7 }}
		            <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="/photos/{{ .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
				{{ end }}
			{{end}}
			</div>
		</div>
	</div>
	
{{end}}

{{define "highlightsScripts"}}
	{{template "bootstrapScript" .}}
	{{template "lightboxScript" .}}
	{{block "pagescripts" .}}
		<script type="text/javascript" src='/static/js/lightbox-01.js'></script>
	{{end}}
{{end}}