{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Assign Sideshows to Topics{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">
		<h1>Assign Slideshows to Topics</h1>

		<form action='/assign-slideshows' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<input type='hidden' name='index' value='{{.ChildIndex }}'>								
							<input type='hidden' name='nShow' value='{{.NShow }}'>								
							<div class="row mb-2">
								<div class="col-xl-6 col-lg-5 col-md-4 col-sm-3">
									<label class="visually-hidden">Title</label>
									<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Title' name='title' value='{{ .Title }}'>
									<div class='invalid-feedback'>{{.ChildError "title"}}</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
									<span class="input-group-text">{{ .DisplayName }}</span>
								</div>
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-3">
									<label class="visually-hidden">Topic</label>
									<input type='text' class='form-control {{.ChildValid "topic"}}' placeholder='Topic' name='topic' value='{{ .NTopic }}'>
									<div class='invalid-feedback'>{{.ChildError "topic"}}</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
									<span class="input-group-text">{{ .Updating }}</span>
								</div>
							</div>
						</div>
					{{end}}
				</div>
				<div class="row mb-2">
					<div class="col-md-3">
						<button type='submit' class="btn btn-primary" id='submit'>Update</button>
					</div>
				</div>
			{{end}}
		</form>

		<p>Note: You must click the Update button to save your changes. That includes adding a slideshow,
		changing its name or visibility, and deleting a slideshow.</p>
	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific processing
		function childAdded($prototype, $newForm) {}
		function pageReady() {}
    </script>
{{end}}
