{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "fullscreen" .}}

{{define "title"}}{{ .Title }}{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "slides"}}
	<div class="carousel-item active bg-slideshow text-slideshow">
		<div class="d-flex flex-column vw-100 vh-100">
			<div class="my-auto">
				<h1 class="display-1 text-center mx-5">{{ .Title }}</h1>
			</div>
		</div>
	</div>
	<div class="carousel-item bg-slideshow text-slideshow">
		<div class="d-flex flex-column vw-100 vh-100">
			<div class="my-auto">
				<div class="h4 mb-4 mx-auto px-5"></div>
			</div>
		</div>
	</div>
{{end}}