{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}{{ .DisplayName }} - Slideshows{{end}}

{{define "pagemeta"}}
	<meta name="description" content="Slideshows by {{ .DisplayName }}.">
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
	<div class="container">
		<h1>{{ .DisplayName }}</h1>
	</div>

	<div class="container lightbox2 highlight-thumbnails rounded">

		<div class="row photos ">
		{{range .Highlights}}
			{{ if eq .Format 2 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .Title }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 3 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .Title }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 6 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .Title }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 7 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .Title }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ end }}
		{{end}}
		</div>
	</div>

	<div class="container">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mb-4">

			{{range .Slideshows}}
				<div class="col mb-4">
					<div class="card slides-thumbnail mb-4 h-100">
						<div class="card-body">
							<a class="card-link" href="{{ .Ref }}">
								<img class="card-img-top ie-image" src="{{thumbnail .Image }}">
								<h5 class="card-title">{{ .Title }}</h5>
							</a>
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/card-01.js'></script>
   <script type="text/javascript" src='/static/js/lightbox-01.js'></script>
{{end}}