{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Edit Diary{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">

		<h1>{{ .Title }}</h1>

		<form action='/edit-diary' method='POST' enctype="multipart/form-data" >
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				<input type='hidden' name='nDiary' value='{{.Get "nDiary"}}'>
				<div class="row mb-2">
					<label class="col-md-1 col-form-label">Text</label>
					<div class="col-md-8">
						<textarea name='caption' rows='8' class='form-control {{.ChildValid "caption"}}'>{{ .Caption }}</textarea>
						<div class='invalid-feedback'>{{ .ChildError "caption"}}</div>
					</div>
				</div>
 				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<input type='hidden' name='index' value='{{ .ChildIndex }}'>								
							<input type='hidden' name='publish' value='{{ htmlDate .Publish }}'>								
							<div class="row mb-2">
								<div class="col-md-2">
									<input type='date' class='form-control {{.ChildValid "start"}}' name='start' value='{{ htmlDate .Start }}'>
									<div class='invalid-feedback'>{{ .ChildError "start"}}</div>
								</div>
								<div class="col-md-8">
									<input type='text' class='form-control {{.ChildValid "title"}}' name='title' value='{{ .Title }}'>
									<div class='invalid-feedback'>{{ .ChildError "title"}}</div>
								</div>
								<div class="col-md-2">
									<a href="#" class="btn btn-secondary btnDeleteChild">Delete</a>
								</div>
							</div>
							<div class="row mb-3">
								<label class="offset-md-1 col-md-1 col-form-label">Details</label>
								<div class="col-md-8">
									<textarea name='caption' class='form-control {{.ChildValid "caption"}}'>{{ .Caption }}</textarea>
									<div class='invalid-feedback'>{{ .ChildError "caption"}}</div>
								</div>
							</div>
						</div>
					{{end}}
				</div>

				<div class="row mb-2">
					<div class="offset-md-10 col-md-2">
						<a href="#" class="btn btn-secondary btnAddChild">New Event</a>
					</div>
				</div>
				<div class="row mb-2">
					<div class="offset-md-2	col-md-2">
						<button type='submit' class="btn btn-primary" id='submit'>Update</button>
					</div>
				</div>
			{{end}}
		</form>
	</div>

{{end}}

{{ define "pagescripts" }}
	<script type="text/javascript" src='/static/js/multiforms-03.js'></script>
	<script>
		// page-specific processing

		function pageReady() {}

		function childAdded($prototype, $newForm) {}
    </script>
{{end}}
