{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Edit Sideshows{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">
		{{template "edit-slideshows-h1" .}}

		<form action='/edit-slideshows/{{ .NUser }}' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				{{ $visibleOpts := .VisibleOpts }}

				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<input type='hidden' name='index' value='{{.ChildIndex }}'>								
							<div class="row mb-2">
								<div class="col-xl-6 col-lg-7 col-md-7 col-sm-6">
									<label class="visually-hidden">Title</label>
									<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Title' name='title' value='{{ .Title }}'>
									<div class='invalid-feedback'>{{.ChildError "title"}}</div>
								</div>
								<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
									<div class='input-group'>
										<span class="input-group-text">Show</span>
										<select class='form-select {{.ChildValid "visible"}}' data-width='fit' name="visible">
											{{ $visible := .Visible }}
											{{ range $i, $opt := $visibleOpts }}
												<option value='{{ $i }}' {{ if eq $i $visible }} selected{{ end }}>{{ $opt }}</option>
											{{end}}
										</select>
										<div class='invalid-feedback'>{{.ChildError "visible"}}</div>
									</div>
								</div>
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
									<a href="#" class='btn btn-secondary btnConfirmDelChild'>Delete</a>
								</div>
							</div>
						</div>
					{{end}}
				</div>
				<div class="row mb-2">
					<div class="offset-xl-7 offset-lg-9 offset-md-9 offset-sm-8 col-xl-2 col-lg-3 col-md-3 col-sm-4">
						<a href="#" class="btn btn-secondary btnAddChild">New Slideshow</a>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-3 col-sm-3">
						<button type='submit' class="btn btn-primary" id='submit'>Update</button>
					</div>
				</div>
			{{end}}
		</form>

		<p>Note: You must click the Update button to save your changes. That includes adding a slideshow,
		changing its name or visibility, and deleting a slideshow.</p>
	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific processing
		function childAdded($prototype, $newForm) {}
		function pageReady() {}

		function confirmAsk($child) {
			return 'Delete \"' + $child.find('input[name="title"]').val() + '\"?';
		}
    </script>
{{end}}
