{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Edit Pages{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">
		<h1>Information Pages</h1>

		<form action='/edit-pages/0' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				{{ $visibleOpts := .VisibleOpts }}

				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<input type='hidden' name='index' value='{{.ChildIndex }}'>								
							<div class="row mb-2">
								<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
									<label class="visually-hidden">Title</label>
									<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Title' name='title' value='{{ .Title }}'>
									<div class='invalid-feedback'>{{.ChildError "title"}}</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
									<div class='input-group'>
										<span class="input-group-text">Menu</span>
										<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Menu' name='menu' value='{{ .Menu }}'>
										<div class='invalid-feedback'>{{.ChildError "menu"}}</div>
									</div>
								</div>
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
									<a href="#" class='btn btn-secondary btnConfirmDelChild'>Delete</a>
								</div>
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
									<button type='submit' formaction='/edit-pages/{{ .Page }}' class="btn btn-primary">Metadata</button>
								</div>
							</div>
						</div>
					{{end}}
				</div>
				<div class="row mb-2">
					<div class="offset-xl-9 offset-lg-7 offset-md-7 offset-sm-6 col-xl-2 col-lg-3 col-md-3 col-sm-4">
						<a href="#" class="btn btn-secondary btnAddChild">New Page</a>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-3 col-sm-3">
						<button type='submit' class="btn btn-primary" id='submit'>Update</button>
					</div>
				</div>
			{{end}}
		</form>

		<p>Note: You must click the Update button to save your changes.</p>
	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific processing
		function childAdded($prototype, $newForm) {}
		function pageReady() {}

		function confirmAsk($child) {
			return 'Delete \"' + $child.find('input[name="title"]').val() + '\"?';
		}
    </script>
{{end}}
