{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Edit Page Metadata{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
	<div class="container">
		<h1>{{ .Title }} - Metadata</h1>

		<form action='/edit-metadata' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				<input type='hidden' name='nPage' value='{{.Get "nPage"}}'>
				<div class="col-md-6 mb-3">
					<label>Short Title - for browser favourites, tabs, etc. (blank = Page Heading)</label>
					<input type='text' class='form-control {{.Errors.Valid "title"}}' name='title' value='{{.Get "title"}}'>
					{{with .Errors.Get "organiser"}}
						<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>
				<div class="col-md-6 mb-3">
					<label>Description - for links on social media, search engines, etc.</label>
					<input type='text' class='form-control {{.Errors.Valid "desc"}}' name='desc' value='{{.Get "desc"}}'>
					{{with .Errors.Get "desc"}}
						<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>
				<div class="col-md-2 mb-3">
					<div class="form-check">
						<input type='checkbox' class='form-check-input' name='noIndex' value='1' {{.Get "noIndex"}}>
						<label class="form-check-label">Block search indexing</label>
					</div>
				</div>
				<button type='submit' class="btn btn-primary" id='submit'>Save</button>
			{{end}}
		</form>
	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific item data
		function childAdded($prototype, $newForm) {}
		function pageReady() {}
    </script>
{{end}}
