{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Edit {{ .Heading }}{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">
		<h1>{{ .Heading }}</h1>

		<form action='{{ .Action }}/0' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				{{ $visibleOpts := .VisibleOpts }}

				{{if .Children}}
					<div class="row mb-1">
        				<label class="col-xl-6 col-lg-5 col-md-5 col-sm-4 col-form-label">Heading</label>
						<label class="col-xl-4 col-lg-3 col-md-3 col-sm-4 col-form-label">Name</label>
        			</div>
				{{end}}

				{{if $.HomeName}}
					<div class="row mb-2">
						<div class="col-xl-6 col-lg-5 col-md-5 col-sm-4">
							<input type='text' class='form-control' placeholder='{{ $.HomeName }}' disabled>
						</div>
						<div class="col-xl-4 col-lg-3 col-md-4 col-sm-4">
							<input type='text' class='form-control' placeholder='Home' disabled>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 offset-xl-1 offset-lg-2 offset-md-2 offset-sm-2">
							<button type='submit' formaction='{{ $.Action }}/{{ $.HomePage }}' class="btn btn-primary">Metadata</button>
						</div>
					</div>
				{{end}}
			
				<div id="formChildren">
					{{range .Children}}
						<div class='childForm' {{ .ChildStyle }}>
							<input type='hidden' name='index' value='{{.ChildIndex }}'>								
							<input type='hidden' name='page' value='{{.Page }}'>								
							<div class="row mb-2">
								<div class="col-xl-6 col-lg-5 col-md-5 col-sm-4">
									<label class="visually-hidden">Heading</label>
									<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Heading' name='title' value='{{ .Title }}'>
									<div class='invalid-feedback'>{{.ChildError "title"}}</div>
								</div>
								<div class="col-xl-4 col-lg-3 col-md-4 col-sm-4">
									<label class="visually-hidden">Name</label>
									<input type='text' class='form-control {{.ChildValid "title"}}' placeholder='Name' name='name' value='{{ .Name }}'>
									<div class='invalid-feedback'>{{.ChildError "name"}}</div>
								</div>
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
									<a href="#" class='btn btn-secondary btnConfirmDelChild'>Delete</a>
								</div>
								{{if .Page}}
									<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
										<button type='submit' formaction='{{ $.Action }}/{{ .Page }}' class="btn btn-primary">Metadata</button>
									</div>
								{{end}}
							</div>
						</div>
					{{end}}
				</div>
				<div class="row mb-2">
					<div class="offset-xl-9 offset-lg-7 offset-md-7 offset-sm-6 col-xl-2 col-lg-3 col-md-3 col-sm-4">
						<a href="#" class="btn btn-secondary btnAddChild">New Page</a>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-3 col-sm-3">
						<button type='submit' class="btn btn-primary" id='submit'>Update</button>
					</div>
				</div>
			{{end}}
		</form>

		<p>Notes:</p>
		<ul>
			<li>For menus use <code>Name</code> for a top-level item, <code>Top.Name</code>
			for a dropdown-item, and <code>.Name</code> for a page without a menu entry.</li>
			<li>The path to information page <code>Top Item.Our Name</code> is <code>/info/top-item.our-name</code>.</li>
			<li>Similarly, the path to diary <code>Top Item.Our Diary</code> is <code>/diary/top-item.our-diary</code>.</li>
			<li>You must click the Update button to save your changes.</li>

		</ul>
		</p>

	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific processing
		function childAdded($prototype, $newForm) {}
		function pageReady() {}

		function confirmAsk($child) {
			return 'Delete \"' + $child.find('input[name="title"]').val() + '\"?';
		}
    </script>
{{end}}
