{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "fullscreen"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{template "title" .}}{{ .SiteTitle }}</title>
        {{block "pagemeta" .}}
        {{end}}

        {{block "fullscreenStylesheets" .}}
			{{template "bootstrapStylesheet" .}}
			<link rel='stylesheet' href='/static/css/fullscreen-05.css'>
		{{end}}

        {{block "fullscreenHeadscripts" .}}
			{{template "jqueryScript" .}}
        {{end}}

        {{block "favicons" .}}
        {{end}}

    </head>
    <body>
        {{template "fullscreenContent" .}}
        {{template "fullscreenScripts" .}}
    </body>
</html>
{{end}}

{{define "fullscreenContent"}}
	<div id="slideshow1" class="carousel slide carousel-fade" data-bs-interval="false" data-bs-keyboard="false">
		<div class="carousel-inner">
    		{{template "slides" .}}
		</div>
		<a class="carousel-control-prev slideshow-button" href="#slideshow1" role="button" data-bs-slide="prev">
    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Previous</span>
 		 </a>
  		<a class="carousel-control-next slideshow-button" href="#slideshow1" role="button" data-bs-slide="next">
    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Next</span>
  		</a>
 		<a class="slideshow-control-quit slideshow-button" href="#slideshow1" role="button" data-bs-slide="quit">
    		<span class="slideshow-control-quit-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Quit</span>
  		</a>
	</div>
{{end}}

{{define "fullscreenScripts"}}
	{{template "bootstrapScript" .}}
   	<script type="text/javascript" src='/static/js/carousel-04.js'></script>
	{{block "pagescripts" .}}
	{{end}}

	<script>
		// Locations when slideshow ends
		gblAfter = "{{ .AfterHRef }}";
		gblBefore = "{{ .BeforeHRef }}";
		gblParent = "{{ .ParentHRef }}";
		gblSingle = "{{ .Single }}";

		// Buttons displayed?
		gblButtons = true;
	</script>
{{end}}
