{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{/* Layout for normal gallery pages. */}}

{{define "gallery"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{template "title" .}}{{ .SiteTitle }}</title>

        {{block "pagemeta" .}}
        {{end}}

        {{block "galleryStylesheets" .}}
            {{template "bootstrapStylesheet" .}}
            {{template "lightboxStylesheet" .}}
            <link rel='stylesheet' href='/static/css/gallery-05.css'>
            {{block "siteStyle" .}}
            {{end}}
        {{end}}

        {{block "galleryHeadscripts" .}}
            {{template "jqueryScript" .}}
        {{end}}

        {{block "favicons" .}}
        {{end}}

    </head>
    <body>
        {{template "galleryContent" .}}
        {{template "galleryScripts" .}}
    </body>
</html>
{{end}}

{{/* Alias for webparts pages. */}}
{{define "layout"}}
	{{template "gallery" .}}
{{end}}

{{/* For webparts pages*/}}
{{define "website"}}{{.SiteTitle}}{{end}}  

{{define "galleryContent"}}
	<!-- // Copyright © Rob Burke, Inchworks, 2020. -->
	
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                {{if .IsAuthenticated}}
                    <a class="navbar-brand" href="/members"><img class="d-inline-block align-top" height="31" src="/static/images/brand.png"></a>
                {{else}}
                    <a class="navbar-brand" href="/"><img class="d-inline-block align-top" height="31" src="/static/images/brand.png"></a>
                {{end}}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {{if .IsGallery}}
                            {{template "menu-gallery" .}}
                        {{end}}
                        {{template "menu-info" .}}
                        {{if .IsMember}}
                            {{template "menu-member" .}}
                        {{end}}
                        {{if .IsCurator}}
                            {{template "menu-curator" .}}
                        {{end}}
                        {{if .IsAdmin}}
                            {{template "menu-admin" .}}
                        {{end}}
                        {{if .IsAuthenticated}}
                            {{if .IsCompetition}}
                                {{template "menu-competition" .}}
                            {{end}}
                            {{template "menu-authenticated" .}}
                        {{else}}
                            {{template "menu-public" .}}
                        {{end}}
                  </ul>
                </div>
            </div>
         </nav>
    </div>

    {{block "pageHeader" .}}
    {{end}}

    {{with .Flash}}
        <div class="container">
            <div class='alert alert-success'>{{.}}</div>
        </div>
    {{end}}

    {{template "page" .}}
{{end}}

{{define "galleryScripts"}}
    {{template "bootstrapScript" .}}
    {{template "lightboxScript" .}}
    <script>
        $('a[href="' + this.location.pathname + '"]').addClass('active').attr("aria-current", "page");
        $('a[href="' + this.location.pathname + '"]').closest('.dropdown').children('a.dropdown-toggle').addClass('active');
    </script>
	{{block "pagescripts" .}}
	{{end}}
{{end}}
