{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "gallery" .}}

{{define "title"}}Latest{{end}}

{{define "pagemeta"}}
	{{block "homePageMeta" .}}
		<meta name="description" content="This is a club photo gallery.">
	{{end}}
{{end}}

{{define "page"}}
    <div class="container">
        <header> 
            <span class="banner">{{block "banner" .}}PICINCH GALLERY{{end}}</span>
        </header>
    </div>

	<div class="container">
		{{block "homePage" .}}
			<p>This website allows the members of a photography club to share their photos with the public and with each other.</p>
		{{end}}
		<h3>Highlights</h3>
	</div>

	<div class="container lightbox2 photo-thumbnails rounded">
		<div class="row photos ">
		{{range .Highlights}}
			{{ if eq .Format 2 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 3 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 6 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 7 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos" data-title="{{ .DisplayName }}"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ end }}
		{{end}}
		</div>
	</div>

	<div class="container">
		{{if .IsAuthenticated}}
			<h3>Latest</h3>
		{{else}}
			<h3>Slideshows</h3>
		{{end}}
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mb-4">
			{{range .Slideshows}}
				<div class="col mb-4">
					<div class="card text-white bg-dark h-100">
						<div class="card-body">
							<a class="card-link text-light" href="/slideshow/{{ .Id }}/0">
								<img class="card-img-top ie-image" src="{{thumbnail .Image }}">
								<h5 class="card-title">{{ .Title }}</h5>
							</a>
							{{if eq .NUser 0}}
								<div class="text-end mt-2">
									<a href="/topic-contributors/{{ .Id }}" class="btn btn-secondary">Contributors</a>
								</div>
							{{else}}
								<p class="card-text"><a class="card-link text-light" href="/contributor/{{ .NUser }}">{{ .DisplayName }}</a></p>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>

	{{if not .IsAuthenticated}}
		<div class="container">
			<p><strong>More slideshows</strong> are available to to club members. Please sign up or log in.</p>
		</div>
	{{end}}

	<div class="container">
		<footer class="text-muted">
			<p class="float-end">
				<a href="/info/notices">Copyright and Data Privacy Notices</a>
			</p>
		</footer>
	</div>
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/card-01.js'></script>
   <script type="text/javascript" src='/static/js/lightbox-01.js'></script>
{{end}}