{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "gallery" .}}

{{define "title"}}{{ .Title }}{{end}}

{{define "page"}}
    <div class="container">
		<h2>{{ .Title }}</h2>
        <p>{{ .Caption }}</p>
        {{range .Sections}}
            <h3>{{ .Title }}</h3>
            <div>{{ .Div }}</div>
        {{end}}
    </div>
{{end}}