{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "gallery" .}}

{{define "title"}}{{ .Meta.Title }}{{end}}

{{define "pagemeta"}}
	{{if .Meta.Description}}<meta name="description" content="{{ .Meta.Description }}">{{end}}
    {{if .Meta.NoIndex}}<meta name="robots" content="noindex">{{end}}
{{end}}

{{define "page"}}
    <div class="container">
		<h1>{{ .Title }}</h1>
        <p>{{ .Caption }}</p>
        {{ $page := . }}
        {{range .Sections}}
            <div class="container">
                <div class="row">
                    {{if eq .Layout 0}}
                        {{template "pageMedia" .}}
                        {{ .Div }}
                    {{else if eq .Layout 1}}
                        {{ .Div }}
                        {{template "pageMedia" .}}
                    {{else if eq .Layout 2}}
                    {{else if eq .Layout 3}}
                        <h2>Highlights</h2>
                        </div>
                        </div>
                        {{template "pageGallery" $page}}
                        <div class="container">
                        <div class="row">
                    {{else if eq .Layout 4}}
                        <div class="col-md-6">
                            {{template "pageMedia" .}}
                        </div>
                        <div class="col-md-6">
                            {{ .Div }}
                        </div>
                    {{else if eq .Layout 5}}
                        <div class="col-md-6">
                            {{ .Div }}
                        </div>
                        <div class="col-md-6">
                            {{template "pageMedia" .}}
                        </div>
                    {{end}}
                 </div>
            </div>
        {{end}}
    </div>
{{end}}

{{define "pageMedia"}}
    {{if eq .Format 2}}
        <img class="img-fluid px-4 mb-4" src="{{viewable .Media }}">
    {{else if eq .Format 8}}
        {{template "infoVideo" .Media}}
    {{end}}
{{end}}