{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "menu-admin"}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	        <li><a class="dropdown-item" href="/setup">Website</a></li>
            <li><a class="dropdown-item" href="/edit-diaries">Diaries</a></li>
            <li><a class="dropdown-item" href="/edit-pages">Pages</a></li>
	        <li><a class="dropdown-item" href="/edit-tags">Tags</a></li>
 	        <li><a class="dropdown-item" href="/edit-users">Users</a></li>
            <li><div class="dropdown-divider"></div></li>
	        <li><a class="dropdown-item" href="/usage-days">Days</a></li>
	        <li><a class="dropdown-item" href="/usage-months">Months</a></li>
        </ul>
    </li>
{{end}}

{{define "menu-authenticated"}}
    <li class="nav-item">
        <form action='/user/logout' method='POST'>
            <input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <button class="btn btn-outline-dark btn-sm">Logout</button>
        </form>
    </li>
{{end}}

{{define "menu-competition"}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/select-slideshow">Entry</a></li>
	        <li><a class="dropdown-item" href="/user-tags">Tags</a></li>
        </ul>
    </li>
{{end}}

{{define "menu-curator"}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Curator</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	        <li><a class="dropdown-item" href="/pages">Information</a></li>
	        <li><a class="dropdown-item" href="/topics">Topics</a></li>
	        <li><a class="dropdown-item" href="/users-curator">Users</a></li>
        </ul>
    </li>
{{end}}

{{define "menu-gallery"}}
    {{if .IsAuthenticated}}
        <li class="nav-item"><a class="nav-link" href="/members">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contrib-members">Contributors</a></li>
    {{else}}
        <li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contributors">Contributors</a></li>
    {{end}}
{{end}}

{{define "menu-info"}}
	{{range .Menus}}
        {{if eq (len .Sub) 0 }}
            <li class="nav-item"><a class="nav-link" href="{{.Path}}">{{.Name}}</a></li>
        {{else}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{.Name}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{range .Sub}}
                        <li><a class="dropdown-item" href="{{.Path}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    {{end}}
{{end}}

{{define "menu-member"}}
    <li class="nav-item"><a class="nav-link" href="/my-slideshows">My Slideshows</a></li>
{{end}}

{{define "menu-public"}}
    <li class="nav-item"><a class="nav-link" href="/user-login">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="/user/signup">Sign-Up</a></li>
{{end}}
