{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Contributors{{end}}

{{define "pagemeta"}}
	<meta name="description" content="Members with slideshows.">
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
	<div class="container">
		<h1>Members with slideshows</h1>
		<p>There are no contributions yet.</p>
	</div>

 {{end}}