{{/*
  Copyright © Rob Burke inchworks.com, 2025.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "pageSections"}}
    {{range .Sections}}
        <div class="container">
            <div class="row">
                {{if eq .Layout 0}}
                    {{template "pageMedia" .}}
                    {{ .Div }}
                {{else if eq .Layout 1}}
                    {{ .Div }}
                    {{template "pageMedia" .}}
                {{else if eq .Layout 3}}
                    <div class="col-md-6">
                        {{template "pageMedia" .}}
                    </div>
                    <div class="col-md-6">
                        {{ .Div }}
                    </div>
                {{else if eq .Layout 4}}
                    <div class="col-md-6">
                        {{ .Div }}
                    </div>
                    <div class="col-md-6">
                        {{template "pageMedia" .}}
                    </div>
                {{end}}
            </div>
        </div>
        {{if eq .Layout 2}}{{template "pageCards" .}}{{end}}
        {{if .Events}}{{template "events-next" .}}{{end}}
        {{if .Highlights}}{{template "pageHighlights" .}}{{end}}
        {{if .Slideshows}}{{template "pageGallery" .}}{{end}}
        {{if .SubPages}}{{template "pageSubPages" .}}{{end}}
    {{end}}
{{end}}

{{define "pageCards"}}
    <div class="row mb-4 {{cardCols (len .Cards)}}">
        {{range .Cards}}
            <div class="col mb-4">
                <div class="page card h-100">
                    <div class="card-body">
                        {{if eq .Format 2}}
                                <img class="card-img-top mb-3" src="{{viewable .Media}}">
                        {{end}}
                        {{ .Div }}
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}

{{define "pageMedia"}}
    {{if eq .Format 2}}
        <img class="img-fluid px-4 mb-4" src="{{viewable .Media}}">
    {{else if eq .Format 8}}
        {{template "infoVideo" .Media}}
    {{else if eq .Format 16}}
        {{template "infoDocument" .Media}}
    {{end}}
{{end}}

{{define "pageSubPages"}}
    <div class="row mb-4 {{cardCols (len .SubPages)}}">
        {{range .SubPages}}
            <div class="col mb-4">
                <div class="card page-thumbnail h-100">
                    <div class="card-body">
                        <a class="card-link" href="{{ .Path }}">
                            {{if .Media}}
                                <img class="card-img-top mb-3" src="{{thumbnail .Media}}">
                            {{end}}
                            <h5>{{ .Title }}</h5>
                            {{ .Description }}
                        </a>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}