{{/*
  Copyright © Rob Burke inchworks.com, 2021.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Select Slideshow{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
	<div class="container">
		<h3>Select Slideshow</h3>

		<form action='/select-slideshow' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
 			{{with .Form}}
				<div class="col-md-2 mb-2">
					<label>Slideshow ID</label>
					<input type='number' class='form-control {{.Errors.Valid "nShow"}}' name='nShow' value='{{.Get "nShow"}}'>
					{{with .Errors.Get "nShow"}}
						<div class='invalid-feedback'>{{.}}</div>
					{{end}}
				</div>
				<button type='submit' class="btn btn-primary" id='submit'>View</button>
			{{end}}
		</form>
	</div>	
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific item data
		function childAdded($prototype, $newForm) {}
		function pageReady() {}
    </script>
{{end}}
