{{/*
  Copyright © Rob Burke inchworks.com, 2025.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "defaultStyles"}}
<style>

  body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-color: #ddd;
  }

  {{/* navigation */}}
  nav.navbar { background-color: #ccc; }
  ul.dropdown-menu { background-color: #ccc; }

  {{/* banner */}}
  header { background-color: #DDD; }
  h1.banner {font-family: Palatino, serif; font-size:40px;}

  {{/* scale down headers */}}
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1rem; }

  {{/* highlight thumbnails */}}
  .highlight-thumbnails {
    color: #313437;
    background-color: rgb(204,204,204);
  }

  {{/* card on page */}}
  .page.card { background-color: #cccccc; color: rgb(33, 37, 41); }

  {{/* slideshow thumbnail */}}
  .slides-thumbnail { background-color: #343a40; }
  .slides-thumbnail a.card-link { color: rgb(255,255,255); }
  .slides-thumbnail .card-link: hover { color: #cbd3da }

  {{/* sub-page thumbnail */}}
  .page-thumbnail { background-color: #cccccc; color: rgb(33, 37, 41); }
  .page-thumbnail a.card-link { color: rgb(33, 37, 41); }
  .page-thumbnail .card-link:hover { color: rgb(13, 110, 253); }

</style>
{{end}}

{{define "defaultSlideStyles"}}
<style>

  .bg-slideshow { background-color: rgb(102, 102, 102); }
  .text-slideshow { color: rgb(221, 221, 221); }
  
</style>
{{end}}