{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  This file is part of PicInch.
  
  PicInch is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PicInch is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PicInch.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{template "gallery" .}}

{{define "title"}}Topics{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}

	<div class="container">
		<h1>Topics</h1>

       <div>
            {{range .Topics}}
                <div class="row mb-1">
                    <div class="col-md-1">
                        <span class="input-group-text">{{ .NShow }}</span>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-4">
                        <span class="input-group-text">{{ .Title }}</span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <span class="input-group-text">Show: {{.Visible}}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="input-group-text">{{.Shared}}</span>
                    </div>
                    <div class="col-xl-1 col-lg-2 col-md-2">
                        <a class='btn btn-light' href='{{ .Ref }}'>View</a>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 mt-4">
                <a class='btn btn-primary' href='/edit-topics'>Edit Topics</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 mt-4">
                <a class='btn btn-primary' href='/assign-slideshows'>Assign Slideshows</a>
            </div>
        </div>
	</div>	

{{end}}
