{{define "video"}}
  {{if isWorking .}}
    <img class="flex-grow-1 flex-shrink-1 px-4 my-4 shrink-image" src="/static/images/working-lg.jpg" loading="lazy">
  {{else}}
    <video class="px-4 my-4" controls autoplay src="/photos/{{ . }}">
      Video needs conversion to be shown.
    </video>
  {{end}}
{{end}}

{{define "infoVideo"}}
  {{if isWorking .}}
    <img class="flex-grow-1 flex-shrink-1 px-4 mb-4 shrink-image" src="/static/images/working-lg.jpg" loading="lazy">
  {{else}}
    <video class="px-4 mb-4" controls autoplay src="/photos/{{ . }}">
      Video needs conversion to be shown.
    </video>
  {{end}}
{{end}}