{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "fullscreen" .}}

{{define "title"}}{{ .Title }}{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "slides"}}

	{{range .Slides}}
		<div class="carousel-item bg-slideshow text-slideshow">
			<div class="d-flex flex-column vw-100 vh-100">

				{{ if eq .Format 2 }}
					{{template "image" .Image}}
				{{ else if eq .Format 3 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "image" .Image}}
				{{ else if eq .Format 6 }}
					{{template "image" .Image}}
				{{ else if eq .Format 7 }}
					<h2 class="mt-2 ml-5 font-weight-bold">{{ .Title }}</h3>
					{{template "image" .Image}}
				{{ end }}
				<div class="h4 mb-4 ml-auto px-5">{{ .DisplayName }}</div>
			</div>
		</div>
	{{end}}
{{end}}