{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "gallery" .}}

{{define "title"}}Sign-up{{end}}

{{define "pagemeta"}}
	<meta name="description" content="Club members sign up for access here.">
    <meta name="robots" content="noindex, nofollow">
{{end}}

{{define "page"}}
    <div class="container">
        {{block "signupPage" .}}
            <p>For invited users of PicInch Gallery only. See your invitation email for your username, and choose your own password.</p>
        {{end}}
        <form action='/user/signup' method='POST' novalidate>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{with .Form}}
                <div class="form-group col-md-6">
                    <label for='usr'>Username</label>
                    <input type='email' class='form-control {{.Errors.Valid "username"}}' id='usr' name='username' autocomplete='username' value='{{.Get "username"}}'>
                    <small class="form-text text-muted">Your email address.</small>
                    {{with .Errors.Get "username"}}
                         <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
				<div class="form-group col-md-6">
                    <label>Your name</label>
                    <input type='text' class='form-control {{.Errors.Valid "displayName"}}' name='displayName' value='{{.Get "displayName"}}'>
                    <small class="form-text text-muted">As seen by visitors to the gallery.</small>
                    {{with .Errors.Get "displayName"}}
                         <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
                <div class="form-group col-md-6">
                    <label for='usr'>Password</label>
                    <input type='password' class='form-control {{.Errors.Valid "password"}}' id='pwd' name='password' autocomplete='new-password'>
                    <small class="form-text text-muted">10 or more characters.
                            <br>Recommended: a password generated by your web browser, or three unrelated words.</small>
                    {{with .Errors.Get "password"}}
                        <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
            {{end}}
            <button type='submit' class='btn btn-primary'>Sign-up</button>
        </form>
    </div>
{{end}}

{{ define "pagescripts" }}
{{end}}