{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "gallery" .}}

{{define "title"}}Change Password{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex, nofollow">
{{end}}

{{define "page"}}
<h2>Change Password</h2>
<form action='/user/change-password' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Current password:</label>
            <input type='password' name='currentPassword'>
            {{with .Errors.Get "currentPassword"}}
                <label class='error'>{{.}}</label>
            {{end}}
        </div>
        <div>
            <label>New password:</label>
            <input type='password' name='newPassword'>
           {{with .Errors.Get "newPassword"}}
                <label class='error'>{{.}}</label>
            {{end}}
         </div>
        <div>
            <label>Confirm password:</label>
            <input type='password' name='newPasswordConfirmation'>
            {{with .Errors.Get "newPasswordConfirmation"}}
                <label class='error'>{{.}}</label>
            {{end}}
        </div>
        <div>
            <input type='submit' value='Change password'>
        </div>
    {{end}}
</form>
{{end}}