{{/*
  Copyright © Rob Burke inchworks.com, 2025.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "pageGallery"}}
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mb-4">
			{{range .Slideshows}}
				<div class="col mb-4">
					<div class="card text-white bg-dark h-100">
						<div class="card-body">
							<a class="card-link text-light" href="{{ .Ref }}">
								<img class="card-img-top ie-image" src="{{thumbnail .Image }}">
								<h5 class="card-title">{{ .Title }}</h5>
							</a>
							{{if eq .NUser 0}}
								<div class="text-end mt-2">
									<a href="/topic-contributors/{{ .Id }}" class="btn btn-secondary">Contributors</a>
								</div>
							{{else}}
								<p class="card-text"><a class="card-link text-light" href="/contributor/{{ .NUser }}">{{ .DisplayName }}</a></p>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
{{end}}
 