{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "homeVisitor"}}
	<div class="container">
		<p><strong>More slideshows</strong> are available to to members. Please sign up or log in.</p>
	</div>
{{end}}
