{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "pageHighlights"}}
	<div class="container lightbox2 photo-thumbnails rounded">
		<div class="row photos">
		{{range .Highlights}}
			{{ if eq .Format 2 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 3 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 6 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ else if eq .Format 7 }}
				<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center item"><a href="{{ viewable .Image }}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{ thumbnail .Image }}"></a></div>
			{{ end }}
		{{end}}
		</div>
	</div>
{{end}}
 