{{/*
  Copyright © Rob Burke inchworks.com, 2024.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "copyrightOption"}}
    <h2>Copyright Notice</h2>
    <p>The copyright for all images, slideshows and information on this website belongs to the website owner. 
    You may not use the content of the website for any purpose, except to view it on your web browser.</p>
{{end}}